<html> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css"/>
    </head>
    <body id="homeBody">
            <nav class="navbar">
                <div class="container">
                    
                    <h1 class="logo"><a href="#">OG: Oh God, What Did I Say?</a></h1>
                    <ul class="nav nav-right">
                            <li><a href="home">Home</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="settings">Settings</a></li>
                            <li><a href="preferences">Preferences</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container" style="display: flex;justify-content: space-evenly;">
                <div class="homeContent">
                    <h2> Your Tweet History</h2>
                    <div style="text-align: center;">
                        <form action="/history-search" method="POST">
                            <input type="text" name="keywords" placeholder="Key, word, search"/>
                            <input type="submit", value="Search"/>
                        </form>
                        <br/>
                        <span>Sort By:</span>
                        <form action= "/history" method= "POST">
                            <input type="submit" name="sortBy", value= "Impact"/>
                            <input type="submit" name="sortBy", value= "Favorites"/>
                            <input type="submit" name="sortBy", value= "Retweets"/>
                            <input type="submit" name="sortBy", value= "Replies"/>
                            <input type="checkbox" name="ascending"> Ascending </input>
                        </form>

                    </div>
                    <br/>
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Date/Time</th>
                            <th>Tweet</th>
                            <th>Impact</th>
                            <th>Favorites</th>
                            <th>Retweets</th>
                            <th>Replies</th>
                            <th>View Tweet</th>
                        </tr>
                        {% for tweet in tweets %}
                        <tr>
                            <td>{{ tweet.id }}</td>
                            <td>{{ tweet.dateTime }}</td>
                            <td>{{ tweet.content }}</td>
                            <td>{{ tweet.impact }}</td>
                            <td>{{ tweet.favorites }}</td>
                            <td>{{ tweet.retweets }}</td>
                            <td>{{ tweet.replies }}</td>
                            <td><a href="tweet/{{ tweet.id }}">View</a></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
    </body>
</html>