<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css"/>
    </head>
    <body id="loginBody">
        <div id="loginContainer">
            <h1 style="width: 100%; text-align: center;">OG: Oh God, What Did I Say?</h1>
            <form method="POST" id="loginForm">
                <label for="email">Email: </label><br/>
                <input type="text" name="email"/><br/>
                <label for="password">Password: </label><br/>
                <input type="password" name="password"/><br/>
                <button type="submit" style="margin-left: 0rem;" class='btn' name='submitType' value="Log In">Log In</button>
                <center><p style="color:red">{{ error }}</p></center>
                <button type="submit" style="margin-left: 0rem;" class='btn' name='submitType' value="Create Account">Create Account</button>
            </form>
        </div>
    </body>
</html>
