<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css"/>
        <link rel="icon" href="data:,">
    </head>
    <body id="loginBody">
        <div id="loginContainer">
            <h1 style="width: 100%; text-align: center;">Oh God, Time to Create an Account</h1>
            <form method = 'POST' id="loginForm">
                <label for="email">Email: </label><br/>
                <input type="text" name="email"/><br/>
                <label for="password">Password: </label><br/>
                <input type="password" name="password"/><br/>
                <label for="confirmPassword">Confirm Password: </label><br/>
                <input type="password" name="confirmPassword"/><br/>
                <label for="handle">Handle: </label><br/>
                <input type="text" name="handle"/><br/>
                <button type="submit" style="margin-left: 4rem;" class='btn'>Sign Up</button>
            </form>
        </div>
    </body>
</html>
