<html>
    <head>
        <link rel="stylesheet" href="../style.css" type="text/css"/>
    </head>
    <body id="loginBody">
        <div id="loginContainer">
            <h1 style="width: 100%; text-align: center;">OGWDIS</h1>
            <form id="loginForm">
                <label for="email">Email: </label><br/>
                <input type="text" name="email"/><br/>
                <label for="password">Password: </label><br/>
                <input type="password" name="password"/><br/>
                <label for="confirmPassword">Confirm Password: </label><br/>
                <input type="confirmPassword" name="password"/><br/>
                <button type="submit" style="margin-left: 4rem;" class='btn'>Sign Up1</button>
            </form>
        </div>
    </body>
</html>