<html> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css"/>
    </head>
    <body id="homeBody">
            <nav class="navbar">
                <div class="container">
                    
                    <h1 class="logo"><a href="#">OGWDIS</a></h1>
                    <ul class="nav nav-right">
                    <li><a href="home">Home</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Preferences</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container" style="display: flex;justify-content: space-evenly;">
                <div class="homeContent">
                    <div>
                        <h2>Tweet:</h2>
                        <p>Content:</p>
                        <p>{{ tweet.content }}</p>
                        <p>Replies:</p>
                        <p>{{ tweet.replies }}</p>
                        <p>Favorites:</p>
                        <p>{{ tweet.favorites }}</p>
                        <p>Retweets:</p>
                        <p>{{ tweet.retweets }}</p>
                        <a href="{{ tweet.link }}">View Tweet</a>
                    </div>
                    <p>Temporarily Adjust Window: </p>
                    <select>
                        {% for window in timeWindows %}
                        <option value="{{ window.time }}">{{ window }}</option>
                        {% endfor %}
                    </select>
                    <hr/>
                    <br/>
                    <div style="display:flex;">
                        <div class="">
                                <p>Follows:{{ tweet.follows }}</p>
                                <p>Unfollows:{{ tweet.unfollows }}</p>
                                <p>Net Follows:{{ tweet.netFollows }}</p>
                        </div>
                        <div style="flex-grow:1; padding: 15px;"> 
                            <table>
                                <tr>
                                    <th>Problem Words</th>
                                </tr>
                                <tr>
                                    {% for word in phrasesToAvoid %}
                                    <td>{{ word }}</td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
    </body>
</html>